<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calcular Fechas de Calendario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <b>Ingresa la primer Fecha para calcular</b>
  <ion-datetime [(ngModel)]="fecha1" presentation="date" [preferWheel]="true"></ion-datetime>
  <br>
  <b>Ingresa la segunda Fecha para calcular</b>
  <ion-datetime [(ngModel)]="fecha2" presentation="date" [preferWheel]="true"></ion-datetime>
  <br>
  <ion-button expand="full" (click)="calcularDias()">Calcular Días</ion-button>

  <div *ngIf="dias !== null">
    <h2>Días entre las fechas:</h2>
    <p>{{ dias }}</p>
  </div>
</ion-content>
